@media all and (min-width: 10000px) {
    html.mm-opening.mm-fullscreen .mm-slideout {
        -webkit-transform: translate(10000px, 0);
        -moz-transform: translate(10000px, 0);
        -ms-transform: translate(10000px, 0);
        -o-transform: translate(10000px, 0);
    }

    html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
        -webkit-transform: translate(-10000px, 0);
        -moz-transform: translate(-10000px, 0);
        -ms-transform: translate(-10000px, 0);
        -o-transform: translate(-10000px, 0);
    }
}

@media (min-width: 991px) {

    .off-canvas-active>#page,
    .off-canvas-active>#off-canvas-nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        position: relative !important;
    }

    #off-canvas-button {
        display: none !important;
    }
}

@media all and (min-width: 550px) {
    html.mm-opening .mm-slideout {
        -webkit-transform: translate(440px, 0);
        -moz-transform: translate(440px, 0);
        -ms-transform: translate(440px, 0);
        -o-transform: translate(440px, 0);
        -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    }

    html.mm-right.mm-opening .mm-slideout {
        -webkit-transform: translate(-440px, 0);
        -moz-transform: translate(-440px, 0);
        -ms-transform: translate(-440px, 0);
        -o-transform: translate(-440px, 0);
    }
}


@media (max-width: 767px) {
    #apollo-verticalmenu .title_block {
        cursor: pointer;
    }

    .verticalmenu .navbar-nav {
        margin: 0px;
    }

    .verticalmenu .navbar-nav>li>a {
        padding: 15px 35px 16px 15px;
    }

    .rtl .verticalmenu .navbar-nav>li>a {
        padding: 15px 15px 16px 35px;
    }

    .verticalmenu .navbar-nav>li>a:after {
        background: transparent !important;
    }

    .verticalmenu .navbar-nav>li.menu-open>a {
        border-bottom: 1px solid #e6e6e6;
    }

    .verticalmenu .navbar-nav>li.menu-open>.dropdown-menu {
        padding: 10px 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .verticalmenu .navbar-nav>li .caret {
        width: 40px;
        height: 40px;
        border: 0px;
        line-height: 40px;
        margin-top: -20px;
        cursor: pointer;
        text-align: center;
        right: 10px;
    }

    .verticalmenu .navbar-nav>li .caret:before {
        content: "\f107";
        font-family: "FontAwesome";
    }

    .verticalmenu .dropdown-menu {
        position: relative;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        float: none;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100% !important;
        border: 0;
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .verticalmenu .dropdown-menu li.menu-open>.dropdown-menu {
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
    }

    .verticalmenu .product-block .product-container {
        width: 100%;
    }

    #testimonials .block_content {
        display: block !important;
    }

    .footerHtml .block_content {
        display: block !important;
    }

    .block_aboutshop .block_content {
        display: block !important;
    }
    /*LEFT - MENU*/
  .button-collapse-left, .drag-target-left {
    left: 0;
    transition: all 0.6s ease 0s; }

  .off-canvas-active .button-collapse-left, .off-canvas-active .drag-target-left {
    left: 240px;
    transition: all 0.3s ease 0s;
    display: none; }

  .hide.drag-target-left, .hide.button-collapse-left {
    left: -100px;
    transition: all 0.6s ease 0s; }

  /*RIGHT - MENU*/
  .button-collapse-right, .drag-target-right {
    right: 0;
    transition: all 0.6s ease 0s; }

  .hide.drag-target-right, .hide.button-collapse-right {
    right: -100px;
    transition: all 0.6s ease 0s; }
}

@media all and (max-width: 175px) {
    html.mm-opening .mm-slideout {
        -webkit-transform: translate(140px, 0);
        -moz-transform: translate(140px, 0);
        -ms-transform: translate(140px, 0);
        -o-transform: translate(140px, 0);
        -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    }

    html.mm-right.mm-opening .mm-slideout {
        -webkit-transform: translate(-140px, 0);
        -moz-transform: translate(-140px, 0);
        -ms-transform: translate(-140px, 0);
        -o-transform: translate(-140px, 0);
    }
}

@media all and (max-width: 140px) {
    html.mm-opening.mm-fullscreen .mm-slideout {
        -webkit-transform: translate(140px, 0);
        -moz-transform: translate(140px, 0);
        -ms-transform: translate(140px, 0);
        -o-transform: translate(140px, 0);
    }

    html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
        -webkit-transform: translate(-140px, 0);
        -moz-transform: translate(-140px, 0);
        -ms-transform: translate(-140px, 0);
        -o-transform: translate(-140px, 0);
    }
}